<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662328821833-6e44vbbqeufvgvbhfsadhnr1tkl54pv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662328821833-6e44vbbqeufvgvbhfsadhnr1tkl54pv4</string>
	<key>API_KEY</key>
	<string>AIzaSyDVOk68NF0Ed-T1VAjts4cnAy55S_Ya0ik</string>
	<key>GCM_SENDER_ID</key>
	<string>662328821833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notipet.NotiPetApp</string>
	<key>PROJECT_ID</key>
	<string>notipettest</string>
	<key>STORAGE_BUCKET</key>
	<string>notipettest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662328821833:ios:65156b3424823e3ea11798</string>
</dict>
</plist>